<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OldDragon"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.CharacterCreationActivity"
            android:exported="false"
            android:label="@string/title_activity_character_creation"
            android:theme="@style/Theme.OldDragon" />
        <activity
            android:name=".view.activities.ClassSelectionActivity"
            android:exported="false"
            android:label="@string/title_activity_class_selection"
            android:theme="@style/Theme.OldDragon" />
        <activity
            android:name=".view.activities.RaceSelectionActivity"
            android:exported="false"
            android:label="@string/title_activity_race_selection"
            android:theme="@style/Theme.OldDragon" /> <!-- Activity Principal -->
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OldDragon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity Gerador de Atributos -->
        <activity
            android:name=".view.activities.AttributeGeneratorActivity"
            android:exported="false"
            android:label="Gerador de Atributos"
            android:parentActivityName=".view.activities.MainActivity" /> <!-- Activity Seleção de Atributos -->
        <activity
            android:name=".view.activities.AttributeSelectionActivity"
            android:exported="false"
            android:label="Distribuir Atributos"
            android:parentActivityName=".view.activities.AttributeGeneratorActivity" />
    </application>

</manifest>